<% layout("Layouts/boilerplate") %>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="enter username" name="username"> <br><br>
        <textarea name="content" placeholder="write your post"></textarea> <br>
        <button>submit</button>
    </form>
</body>